@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import "tailwindcss";

body {
  @apply font-[Poppins];
  -webkit-overflow-y-scrolling: hidden;

}
.global-loader {
  position: fixed;
  inset: 0;
  background: rgba(255, 255, 255, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}


@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}


@keyframes bounce-dot {
  0%, 80%, 100% { transform: scale(0); }
  40% { transform: scale(1); }
}
.animate-bounce-dots span:nth-child(1) {
  animation: bounce-dot 1.4s infinite ease-in-out 0s;
}
.animate-bounce-dots span:nth-child(2) {
  animation: bounce-dot 1.4s infinite ease-in-out 0.2s;
}
.animate-bounce-dots span:nth-child(3) {
  animation: bounce-dot 1.4s infinite ease-in-out 0.4s;
}